# Data I/O  
### Purpose: be able to import and work with the [European Soccer Database](https://www.kaggle.com/hugomathien/soccer)

In [5]:
#import packages
import sqlite3
import pandas as pd

In [54]:
#create a connection with the SQLite database
with sqlite3.connect('database.sqlite') as con:
    
    #these lines allow us to get the names of all of the tables in the database
    cursor = con.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    
    #the names of all of the tables are stored in the variable table_names
    table_names = cursor.fetchall()
    
    #we'll print the table names in the file
    print('Tables in file: ', table_names)
    
    #we're going to convert every table from the sqlite database into individual pandas dataframes
    #(except for the first entry in table_name: 'sqlite_sequence')
    
    #we'll store pandas dataframes in the list tables
    tables = []
    
    #loop through each table name in the table_names (except for the first one)
    for i in table_names[1:]:
        
        #create the string command to retrieve table from database (e.g., SELECT * from Player)
        command = "SELECT * from " + i[0]
        
        #retrieve the table, make it a pandas dataframe, and append it to our tables list
        tables.append(pd.read_sql_query(command, con))

        
#now we'll loop through each pandas dataframe and save it as its own .csv file, with the file name being its table name
for i in range(len(tables)):
    tables[i].to_csv(table_names[i+1][0]+'.csv', index_label='index')

Tables in file:  [('sqlite_sequence',), ('Player_Attributes',), ('Player',), ('Match',), ('League',), ('Country',), ('Team',), ('Team_Attributes',)]